.lesson_box1{
    width: auto;
    /*height: 500px;*/
    background-color: #FFFFDD;
    padding-top: 80px;
}

.new_box1{
    width: auto;
    height: 600px;
    background-color: orange;
    padding-top: 80px;
}

.success{
    width: auto;
    height: 500px;
    background-color: orange;
    padding-top: 80px;
}

.destroy{
    width: auto;
    height: 500px;
    background-color: orange;
    padding-top: 80px;
}

.edit{
    width: auto;
    height: 500px;
    background-color: orange;
    padding-top: 80px;
}

.content_post{
     text-align: center;
     margin-top: 20px;
     padding:50px 0px 70px;
     background-position: center;
     background: no-repeat center center;
     background-size: contain;
}

.more_list{
    display: inline-block;
    text-align: center; 
        padding: 0px;
    /*display: flex;*/
    align-items: center;
    
}

.more_list li{
        display: inline-block;
    text-align: center;
    margin: 0px;
}

.nickname{
    display: inline-block;
    background-color: #A4C6FF;
    margin:  10px auto 20px;
    padding: 10px 20px;
    border-radius: 24px;
}

.subject{
    /*display: inline-block;*/
    /*background-color: #A4C6FF;*/
    margin:  0 auto 30px ;

}

#abc{
        background-color: #FFFFEE;
        padding: 10px 50px;
}

.lesson{
    display: flex;
    justify-content: center;
}


.lesson_text_text{
        width: 300px;
        /*padding-right: 50px;*/
        color: white;
}

.lesson_image{
    padding-left: 50px;
}

.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  background: #FFFFDD;
}

.btn-box {
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  /*#ボタンの文字の色*/
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  position: relative;
  border: 2px solid #000000;
  /*ボタンの周りの色*/
  transition: .4s;
}

.btn-box:hover {
  border: 2px solid transparent;
  color: #005FFF;
  /*変わった後の文字の色*/
}

.btn-box:before, .btn-box:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box:before {
  border-bottom: 2px solid #005FFF;
  border-left: 2px solid #005FFF;
  /*変わった後の左の縦横の枠の色*/
  transform-origin: 100% 0%;
}

.btn-box:after {
  border-top: 2px solid #005FFF;
  border-right: 2px solid #005FFF;
  /*変わった後の右の縦横の枠の色*/
  transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
  transform: scale(1);
}

.container2 {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
  /*padding-left: 20px;*/
  /*padiing-right: 20px;*/
}


/* ここから下がボタンのCSS　*/
.btn-denim {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #293b6a;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px dashed #FFF;
  box-shadow: 0px 0px 0px 5px #293b6a;/* box-shadowで外枠を */
}

.btn-denim:hover {
  border-style: solid;
}